<!DOCTYPE html>
<!-- Note that adding an appcache really speeds things up after the first load
    You need to amend the appcache file to meet your needs.
    Don't forget to change the appcache file if you update ANY
    of the files in it otherwise the old versions will ALWAYS be used.
<html lang="en" manifest="./uibuilder.appcache">
-->
<html lang="en">
<!--
    This is the default, template html for uibuilder.
    It is meant to demonstrate the use of VueJS & bootstrap-vue to dynamically
    update the ui based on incoming/outgoing messages from/to the
    Node-RED server.

    You will want to alter this to suite your own needs. To do so,
    copy this file to <userDir>/uibuilder/<url>/src.
-->
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport"
        content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>

  <title>Flow Dashboard</title>
  <meta name="description" content="Dashboard - Flow team"/>

  <link rel="icon" href="./images/node-blue.ico"/>

  <!-- See https://goo.gl/OOhYW5 -->
  <link rel="manifest" href="./manifest.json"/>
  <meta name="theme-color" content="#3f51b5"/>

  <!-- Used if adding to homescreen for Chrome on Android. Fallback for manifest.json -->
  <meta name="mobile-web-app-capable" content="yes"/>
  <meta name="application-name" content="Node-RED UI Builder"/>

  <!-- Used if adding to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
  <meta name="apple-mobile-web-app-title" content="Node-RED UI Builder"/>

  <!-- Homescreen icons for Apple mobile use if required
        <link rel="apple-touch-icon" href="./images/manifest/icon-48x48.png">
        <link rel="apple-touch-icon" sizes="72x72" href="./images/manifest/icon-72x72.png">
        <link rel="apple-touch-icon" sizes="96x96" href="./images/manifest/icon-96x96.png">
        <link rel="apple-touch-icon" sizes="144x144" href="./images/manifest/icon-144x144.png">
        <link rel="apple-touch-icon" sizes="192x192" href="./images/manifest/icon-192x192.png">
    -->
  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
  <link type="text/css" rel="stylesheet"
        href="../uibuilder/vendor/bootstrap/dist/css/bootstrap.min.css"/>
  <link type="text/css" rel="stylesheet"
        href="../uibuilder/vendor/bootstrap-vue/dist/bootstrap-vue.css"/>

  <!--Font Awesome Icons-->
  <link href="fontawesome/css/all.css" rel="stylesheet" crossorigin="anonymous"/>

  <link rel="stylesheet" href="./index.css" media="all"/>
</head>

<body>
<div id="app" v-cloak>
  <b-navbar toggleable="lg" type="dark">
    <b-navbar-brand href="#">Flow Dashboard <i
      :class="'fas fa-plug '+ (socketConnectedState ? '' :'cross')"></i></b-navbar-brand>
    <div class="ml-auto" v-if="appData && appData['datetime-basingstoke']">
      <i class="fas fa-clock"></i>
      {{ new Date().toLocaleString() }}
    </div>
  </b-navbar>

  <b-jumbotron v-if="appData && appData.flowbot">

    <template v-slot:header>{{ appData.flowbot.payload.text }}</template>

    <hr class="my-4">

    <template v-slot:lead>
      From: {{ appData.flowbot.payload.user_name }}
    </template>

  </b-jumbotron>

  <b-container id="app_container">

    <b-row>
      <!--Boston time-->

      <b-card title="Current time" class="col-md-3 mb-2 text-center"
              v-if="appData">
        <b-card-text class="text-center">
          <div v-if="appData && appData['datetime-boston']">
            <img src="./images/usa.svg" alt="Boston time" title="Boston time" class="flag">
            {{ appData['datetime-boston'].payload.split(' ')[1] }}
            {{appData['datetime-boston'].payload.split(' ')[2] }}
          </div>
          <div v-if="appData && appData['datetime-basingstoke']">
            <img src="./images/uk.svg" alt="Basingstoke time" title="Basingstoke time" class="flag">
            {{ appData['datetime-basingstoke'].payload.split(' ')[1] }} {{
            appData['datetime-basingstoke'].payload.split(' ')[2] }}
          </div>
          <div v-if="appData && appData['datetime-madrid']">
            <img src="./images/spain.svg" alt="Madrid time" title="Madrid time" class="flag">
            {{ appData['datetime-madrid'].payload.split(' ')[1] }}
            {{appData['datetime-madrid'].payload.split(' ')[2] }}

          </div>
          <div v-if="appData && appData['datetime-warsaw']">
            <img src="./images/republic-of-poland.svg" alt="Warsaw time" title="Warsaw time"
                 class="flag">
            {{ appData['datetime-warsaw'].payload.split(' ')[1] }} {{
            appData['datetime-warsaw'].payload.split(' ')[2] }}
          </div>
        </b-card-text>
      </b-card>
      <b-card title="Latest on Slack" class="col-md-3 mb-2 text-center"
              v-if="appData && appData['flowbot-events']">
        <b-card-text>
          {{appData['flowbot-events'].payload.event.text}}
        </b-card-text>
      </b-card>
      <b-card md="4" sm="6" title="EditShare Website status" class="col-md-3 mb-2 text-center"
              v-if="appData && appData['server-status-editshare']">
        <b-card-text>
          <div v-if="appData['server-status-editshare'].statusCode === 200">
            Online
            <i class="fas fa-check green"></i>
          </div>
          <div v-else>
            Offline!
            <i class="fas fa-cross red"></i>
          </div>
        </b-card-text>
      </b-card>

    </b-row>

    <hr class="my-4">
    <b-row>
      <b-card title="Redshark latest news" class="col-md-5 mb-2 text-center"
              v-if="appData && appData['redshark-rss']">
        <b-card-text>
          <div v-html="appData['redshark-rss'].payload"></div>
        </b-card-text>
      </b-card>

      <b-card title="GitHub Status" class="col-md-5 text-center mb-2"
              v-if="appData && appData['github-status-rss'] ">
        <b-card-text>
          <div v-html="appData['github-status-rss'].payload"></div>
        </b-card-text>
      </b-card>
    </b-row>
  </b-container>
  </b-container>
</div>

<!-- These MUST be in the right order. Note no leading / -->
<!-- REQUIRED: Socket.IO is loaded only once for all instances
                   Without this, you don't get a websocket connection -->
<script src="../uibuilder/vendor/socket.io/socket.io.js"></script>

<!-- Vendor Libraries - Load in the right order -->
<script src="../uibuilder/vendor/vue/dist/vue.js"></script>
<!-- dev version with component compiler -->
<!-- <script src="../uibuilder/vendor/vue/dist/vue.min.js"></script>   prod version with component compiler -->
<!-- <script src="../uibuilder/vendor/vue/dist/vue.runtime.min.js"></script>   prod version without component compiler -->
<script src="../uibuilder/vendor/bootstrap-vue/dist/bootstrap-vue.js"></script>

<!-- REQUIRED: Sets up Socket listeners and the msg object -->
<!-- <script src="./uibuilderfe.js"></script>   //dev version -->
<script src="./uibuilderfe.min.js"></script>
<!--    //prod version -->
<!-- OPTIONAL: You probably want this. Put your custom code here -->
<script src="./index.js"></script>
</body>

</html>
